body{
  background-color: #7fffd4;
}

h1{
  width: 20%;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  background-color: #c0fce8;
  padding: 1em;
  border-radius: 45px;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  padding: 1em;
  margin: 1em 2em 1em 2em;
}

.cake{
  background-color: #c0fce8;
  padding: 1em;
  border-radius: 45px;
  margin: 1em;
}

.cakeForm-container{
  display: flex;
  justify-content: start;
  align-items: center;
}

.cakeForm{
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* .cakeForm */
